{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace f=Neos\FluidAdaptor\ViewHelpers}

<div class="ghList" data-small="{small}" data-medium="{medium}" data-large="{large}">
    <f:for each="{repoList}" as="repo" iteration="i">
        <f:if condition="{i.index} <= {repoCount}">
            <div class="row item">
                <div class="small-4 medium-2 column">
                    <a href="{repo.html_url}" target="_blank" class="button transparent block">
                        <i class="gh-icon {repo.language}"></i>
                        <div class="ellipsis">{repo.name}</div>
                    </a>
                </div>
                <div class="small-8 medium-10 column">
                    {repo.description}
                    <div class="labelWrap">
                    <f:for each="{repo.languages}" as="lang">
                        <div class="label">{lang.name}: {lang.percent}%</div>
                    </f:for>
                    </div>
             </div>
            </div>
        </f:if>
    </f:for>
</div>
<div class="text-center footer">
    <a class="showAll button">more</a>
    <a class="hideAll button">less</a>
</div>