<f:for each="{activities}" as="activity" iteration="i">

    <f:if condition="{i.index} <= {activityCount}">
        <f:if condition="{activity.type} == 'ForkEvent'">
            <a href="{activity.repo.url}" target="_blank" data-tooltip aria-haspopup="true" class="button block has-tip"
               title="
                ... {activity.repo.name}
                ">
                <i class="icon fi-repo-forked"></i>
                Forked
            </a>
            </f:if>
        <f:if condition="{activity.type} == 'PullRequestEvent'">
            <a href="{activity.payload.pull_request.html_url}" target="_blank" data-tooltip aria-haspopup="true"
               class="button block has-tip" title="
                    ... on {activity.repo.name}
                        <f:format.htmlentities>
                        <div>
                            <div class=" label commit">{activity.payload.pull_request.title}</div>
            </div>
            </f:format.htmlentities>
            ">
            <i class="icon fi-repo-pull"></i>
            Pull Request
            </a>
        </f:if>
        <f:if condition="{activity.type} == 'PushEvent'">
            <a href="https://www.github.com/{activity.repo.name}/commits" target="_blank" data-tooltip aria-haspopup="true" class="button block has-tip" title="
                ... to {activity.repo.name}
                <f:for each="{activity.payload.commits}" as="commit">
            <div>
                <f:format.htmlentities>
                        <span class="label commit">
                            <f:format.crop maxCharacters="7" append=" -">{commit.sha}</f:format.crop>
                            {commit.message}
                        </span>
                </f:format.htmlentities>
            </div>
        </f:for>
        ">
        <i class="icon fi-repo-force-push"></i>
        Pushed
        </a>
        </f:if>

        <f:if condition="{activity.type} == 'CreateEvent'">
            <f:if condition="{activity.payload.ref_type} == 'repository'">
                <f:then>
                    <a href="{activity.repo.url}" target="_blank" data-tooltip aria-haspopup="true" class="button block has-tip"
                       title="
                                ... {activity.repo.name} created
                                ">
                        <i class="icon fi-repo"></i>
                        Repository
                    </a>
                </f:then>
                <f:else>
                    <a href="{activity.repo.url}" target="_blank" data-tooltip aria-haspopup="true" class="button block has-tip"
                       title="
                                ... created {activity.payload.ref} in {activity.repo.name}
                                ">
                        <i class="icon fi-git-branch"></i> {activity.payload.ref_type}
                    </a>
                </f:else>
            </f:if>
        </f:if>
        <f:if condition="{activity.type} == 'IssuesEvent'">
            <a href="{activity.payload.issue.html_url}" target="_blank" data-tooltip aria-haspopup="true"
               class="button block has-tip" title="
                        #{activity.payload.issue.number} {activity.payload.action} in {activity.repo.name}
                        ">
                <i class="icon fi-issue-{activity.payload.action}"></i>
                Issue
            </a>
        </f:if>
        <f:if condition="{activity.type} == 'WatchEvent'">
            <a href="{activity.repo.url}" target="_blank" data-tooltip aria-haspopup="true" class="button block has-tip" title="
                            ... {activity.payload.action} on {activity.repo.name}
                            ">
                <i class="icon fi-light-bulb"></i>
                Watch
            </a>
        </f:if>
    </f:if>
</f:for>
