<div>{details.login}</div>
<div>
    <img src="{details.avatar_url}" />
</div>
<div><f:link.external uri="{details.html_url}" target="_blank">Profile</f:link.external></div>
<div>{details.disk_usage}</div>
<div>{details.blog}</div>
<div><f:link.external uri="{details.followers_url}" target="_blank">{details.followers}</f:link.external></div>
<div><f:link.external uri="{details.repos_url}">{details.repos}</f:link.external></div>
<div><f:link.external uri="{details.gists_url}" target="_blank">{details.public_gists}</f:link.external></div>
