<ul class="small-block-grid-{small} medium-block-grid-{medium} large-block-grid-{large}">
    <f:for each="{repoList}" as="repo" iteration="i">
        <li>
            <f:if condition="{i.index} <= {repoCount}">
                <a href="{repo.html_url}" target="_blank" class="button block has-tip"
                        data-tooltip aria-haspopup="true" title="{repo.description}
                        <f:for each="{repo.languages}" as="lang">
                            <f:format.htmlentities><div class="label">{lang.name}: {lang.percent}%</div></f:format.htmlentities>
                        </f:for>
                        ">
                    <i class="gh-icon {repo.language}"></i>
                    <div class="ellipsis">{repo.name}</div>
                </a>
            </f:if>
        </li>
    </f:for>
</ul>