.th .githubName {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0px;
    left: 0px;
    right: 0px;
    line-height: 1rem;
    padding: 5px 8px;
    color: #000000;
}

.githubDetails .th {
    position: relative;
}

.githubDetails .tabs-content .content {
    margin-top: 0px;
    padding: 20px;
}

.githubDetails .tabs-content .content .th, .githubDetails .tabs-content .content .th img {
    display: block;
    width: 100%;
}

.githubDetails .ex100 {
    display: block;
}

.githubDetails .label.commit {
    background: none;
    display: inline-block;
    padding-left: 20px;
}

.githubDetails .label.commit {
    color: #000000;
}

.ellipsis {
    text-overflow: ellipsis;
    text-overflow: "...";
    white-space: nowrap;
    overflow: hidden;
}

.githubDetails .button.block {
    color: #ffffff;
    width: 160px;
    font-size: 0.7rem;
}

.githubDetails .button.block i {
    font-size: 48px;
    clear: both;
    display: block;
}